<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Jepa</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>

  {% load staticfiles %}
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/booking.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}"/>
  {% load static %}
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>

  <!--[if lt IE 9]>
  <html class="lt-ie9">
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
	{% load static %}
      <img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <script src="{% static 'js/device.min.js' %}"></script>
</head>

<body>
<div class="page">
  <!--========================================================
                            HEADER
  =========================================================-->
  {% load static %}
  <header class="vide" data-vide-bg="{% static 'video/thomas-sankara.mp4' %}">
    <div class="container vide_content">
      <div class="brand">
        <img src="{% static 'images/logo.png' %}" width="25" height="25" alt=""/>

        <h1 class="brand_name">
          <a href="./">
            Bienvenue!
          </a>
        </h1>
        <p class="brand_slogan">
          web design nana
        </p>
      </div>

      <h1>Jeunesse Panafricaine </h1>

      <h3>le monde c'est nous!</h3>

      <form id="bookingForm" class="booking-form">
        <div class="tmInput">
          <input name="Name" placeHolder="Name" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
        </div>
        <div class="tmInput">
          <input name="Email" placeHolder="E - mail " type="text" data-constraints="@NotEmpty @Required @Email">
        </div>
        <div class="tmInput">
          <input name="Phone" placeHolder="Phone" type="text" data-constraints="@NotEmpty @Required @Phone">
        </div>
        <div class="booking-form_controls">
          <a href="#" class="btn" data-type="submit">Envoyer</a>
        </div>
      </form>
      
    </div>
     <a href="/accueil/" class="btn" data-type="submit">Entrer</a>
  </header>
 
  <!--========================================================
                            CONTENT
  =========================================================-->
  <main>
    <section class="well">
      <div class="container center">
        <h2>
          Je ne suis pas Africain parce que je suis né en Afrique <br/>
          mais parce que l'Afrique est née en moi!
        </h2>
        <hr/>
        <p> Kwame Nkrumah
        </p>


        <div class="row">
          <div class="grid_4">
	
            <div class="lazy-img" >
		{% load static from staticfiles %}
              <img data-src="{% static "images/linux.jpg" %}" alt="Hi!" />
            </div>
            <h3 class="primary">Linus Fogap</h3>

            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
               etdolore magna aliqua. </p>
          </div>
          <div class="grid_4">
            <div class="lazy-img" style="padding-bottom:70.27027027027027%;">
              <img data-src="{% static 'images/page-1_img02.jpg' %}" src="#" alt=""/>
            </div>
            <h3 class="primary">Alan Smith</h3>

            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
               etdolore magna aliqua. </p>
          </div>
          <div class="grid_4">
            <div class="lazy-img" style="padding-bottom:70.27027027027027%;">
              <img data-src="{% static 'images/page-1_img03.jpg' %}" src="#" alt=""/>
            </div>
            <h3 class="primary">John Franklin </h3>

            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
               etdolore magna aliqua. </p>
          </div>
        </div>
      </div>
    </section>

    <section class="parallax center bg-secondary2" data-url="{% static 'images/parallax.jpg' %}" data-mobile="true" data-speed="0.5">
      <div class="well3">
        <div class="container">
          <h2>
            Tuez Sankara, des milliers de Sankara naîtront! <br/>
          
          </h2>

          <hr/>
          <p>Thomas Sankara
          </p>

        </div>
      </div>
    </section>

    <section class="well well__ins1 center">
      <div class="container">
        <div class="row">
          <div class="grid_4">
            <div class="flaticon-toilets1"></div>
            <hr/>
            <h3>WE ARE CREATIVE</h3>

            <p>Lorem ipsum dolor sit amet conse ctetur <br/> adipisicing elit, sed do eiusmod tempor incididunt ut
               labore
               et </p>
          </div>
          <div class="grid_4">
            <div class="flaticon-coffee69"></div>
            <hr/>
            <h3>WE ARE MODERN</h3>

            <p>Lorem ipsum dolor sit amet conse ctetur <br/> adipisicing elit, sed do eiusmod tempor incididunt ut
               labore
               et </p>
          </div>
          <div class="grid_4">
            <div class="flaticon-hotel70"></div>
            <hr/>
            <h3>WE ARE EXPERTS</h3>

            <p>Lorem ipsum dolor sit amet conse ctetur <br/> adipisicing elit, sed do eiusmod tempor incididunt ut
               labore
               et </p>
          </div>
        </div>
      </div>
    </section>

    <section class="thumb-container">
      {% load static %}
      <div class="item">
        <a class="lazy-img thumb" style="padding-bottom:73.17073170731707%;" href="{% static 'images/page-1_img04_original.jpg' %}">
          <img data-src="{% static 'images/page-1_img04.jpg' %}" src="#" alt=""/>
          <span class="thumb_overlay"></span>
        </a>
      </div>
      <div class="item">
         {% load static %}
        <a class="lazy-img thumb" style="padding-bottom:73.17073170731707%;" href="{% static 'images/page-1_img05_original.jpg' %}">
          <img data-src="images/page-1_img05.jpg" src="#" alt=""/>
          <span class="thumb_overlay"></span>
        </a>
      </div>
      <div class="item">
        <a class="lazy-img thumb" style="padding-bottom:73.17073170731707%;" href="images/page-1_img06_original.jpg">
          <img data-src="images/page-1_img06.jpg" src="#" alt=""/>
          <span class="thumb_overlay"></span>
        </a>
      </div>
      <div class="item">
        <a class="lazy-img thumb" style="padding-bottom:73.17073170731707%;" href="images/page-1_img07_original.jpg">
          <img data-src="images/page-1_img07.jpg" src="#" alt=""/>
          <span class="thumb_overlay"></span>
        </a>
      </div>
      <div class="item">
        <a class="lazy-img thumb" style="padding-bottom:73.17073170731707%;" href="images/page-1_img08_original.jpg">
          <img data-src="images/page-1_img08.jpg" src="#" alt=""/>
          <span class="thumb_overlay"></span>
        </a>
      </div>
    </section>

    <section class="well">
{% load static %}
      <div class="container center">
        <h2>testimonials</h2>
        <hr/>
        <div class="owl-carousel">
          <div class="item">
            <blockquote>
              <img src="{% static 'images/page-1_img13.jpg' %}" alt=""/>

              <p><q>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et <br/>
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum
                    dolore eu fugiat nulla pariatur.</q></p>

              <h3 class="primary"><cite>Michael Freeman</cite></h3>
            </blockquote>
          </div>
          <div class="item">
            <blockquote>
	     {% load static %}
              <img src="{% static 'images/page-1_img09.jpg' %}" alt=""/>

              <p><q>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et <br/>
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum
                    dolore eu fugiat nulla pariatur.</q></p>

              <h3 class="primary"><cite>sed do eiusmod</cite></h3>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="container center">
	{% load static %}
        <ul class="flex-list">
          <li><img src="{% static 'images/page-1_img10.jpg' %}" alt=""/></li>
          <li><img src="{% static 'images/page-1_img11.jpg' %}" alt=""/></li>
          <li><img src="{% static 'images/page-1_img12.jpg' %}" alt=""/></li>
        </ul>
      </div>
    </section>

    <section class="well2 bg-secondary">
      <div class="container center">
        <div class="row">
          <div class="grid_8 preffix_2">
            <h2>Souscrire</h2>

            <form id="subscribe-form" class="subscribe-form">

              <label class="email">
                <input type="email" value="E - mail">
                <span class="error">*Invalid email.</span>
                <span class="success">Your subscription request has been sent!</span>
              </label>
              <a class="btn" data-type="submit" href="#">Souscrire</a>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!--========================================================
                            FOOTER
  =========================================================-->
  <footer>
	{% load static %}
    <div class="parallax" data-url="{% static 'images/parallax2.jpg' %}" data-mobile="true" data-speed="0.5 " data-direction="inverted">
      <div class="well4">
        <div class="container center wow fadeInUp" data-wow-delay="0.2s">
          <hr/>
          <h2>Jeunesse Panafricaine </h2>

         <h3>Notre lutte n'a pas pour but d'haïr ou d'aimer le colon. C'est une question de souveraineté et de survie.</h3>

          <a class="btn" href='accueil'>Entrer</a>

          <div class="copyright">
            © <span id="copyright-year"></span> Jepa. Tous drois reservés
            <!-- {%FOOTER_LINK} -->
          </div>
        </div>
      </div>
    </div>
    <div class="well5 center">
      <div class="container">
	{% load static %}
        <a href='#'><img src="images/tm-logo.png" alt="Tempalte Monster"/></a>
      </div>
    </div>

  </footer>
</div>
{% load static %}
<script src="{% static 'js/script.js' %}"></script>
<!-- coded by Diversant -->
</body>
</html>
